#info-container {
    z-index: 14;
    visibility: hidden;
}

#credit-container {
    z-index: 14;
    visibility: hidden;
}

#instruction-container {
    z-index: 14;
    visibility: hidden;
}
.instruction-line {
    display: flex;
}
.instruction-line span {
    flex: 1;
}