#game-title-menu {
    bottom: 0;
    width: 100%;
    transform: translate(0, -20px);
    overflow: visible;
    z-index: 13;
}

.gtm-menu-list {
    width: 100%;
    text-align: center;
}
.gtm-ml-item {
    display: inline-block;
    padding: 0 15px;
}

.gtm-ml-main {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-50px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}