#gameover-container {
    z-index: 14;
    visibility: hidden;
}

#gameover-message {
    margin-bottom: 3%;
}
#gameover-stats {
    margin-bottom: 7%;
}

.gameover-stat-row {
    display: flex;
    gap: 60px;
}
.gameover-stat-col {
    flex: 1;
    text-align: left;
}
.right-align-col {
    text-align: right;
}

#gameover-button {
    display: block;
    margin: auto;
}