/* PLAYER Stats */

#stats-container {
    left: 0;
    top: 0;
    width: 50%;
    padding: 20px;
    
    z-index: 11;
    visibility: hidden;
}

#hud-stats {
    display: grid;
    width: 100%;
    height: 100%;
}

.hud-stat-row {
    display: flex;
    margin-bottom: 7px;
    gap: 9px;
}

.stat-col-image {
    display: inline-block;
    text-align: center;
}

.stat-image {
    display: block;
    height: calc(1.75em + 1vmin);
    max-height: 48px;
}

.stat-col-text {
    display: inline-block;
    font-size: calc(.75em + 1vmin);
}

/* RIGHT - Pause */

#pause-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    visibility: hidden;
}
.pause-image {
    height: calc(2.75em + 1vmin);
    max-height: 64px;
}
