#hud-weapon {
    bottom: 0;
    width: 100%;
    transform: translate(0, -20px);
    z-index: 10;
    visibility: hidden;
}

/** Name of Weapon selected */

#wep-name {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: calc(.6em + 1vmin);
    text-transform: uppercase;
    letter-spacing: calc(.1em + 1vmin);
}

/** Weapon select boxes visual */

#wep-select-boxes {
    width: 13%;
    aspect-ratio: 3 / 1;
    margin: 0 auto;
}

.wep-select {
    flex: 1;
    opacity: .2;
}
.wep-select-active {
    opacity: 1;
}
.wep-select-image {
    display: block;
    width: 75%;
    margin: 0 auto;
}